html, body {
    width: 300px;
}
#tags_container {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
}

#tags {
    width: 100%;
    height: 100%;
}

#browse_controls_row .column {
    width: 49%;
}

#settings_container {
    border-left: 1px solid lightgrey;
}

#settings_container, #sites_container {
    text-align: center;
    width: 50%;
    height: 100%;
}

#settings_container > .row > label, #sites_container > .row > label {
    width: 50%;
    height: auto;
    margin: auto;
}

#sites_container .header, #settings_container .header {
    width: 70%;
}

#tags_header {
    width: 85%;
}

/*////////////////////////////////////////////////////*/

.button:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .750rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
}

.button:focus, .button:hover {
  text-decoration: none;
}

.button.on {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.button.on:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.button.off {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.button.off:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.button input {
    display: none;
}

.header {
    padding-left: .5em;
    padding-right: .5em;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 7px;
    border-bottom: lightgrey 1px solid;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
